{{outlet}}

<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Another Note App</h2>
    <p>
        This is one of many note apps that developers build when learning a new framework.
    </p>
    {{#link-to 'contact' class="button"}} Contact {{/link-to}}
</div>