{{outlet}}

<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Make some new notes!</h2>

    <h3>Or read your previous notes</h3>
    {{#each model as |noteItem|}} {{note-listing note=noteItem}} {{/each}}

</div>