{{outlet}}

<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Make some new notes!</h2>
    <h1>UPDATED AFTER FIREBASE DEPLOY! HOOOZAH</h1>

    <h3>Or read your previous notes</h3>
    {{#list-filter filter=(action 'filterByOwner') as |notes|}}
    <ul class="results">
        {{#each notes as |noteItem|}}
        <li>{{note-listing note=noteItem}}</li>
        {{/each}}
    </ul>
    {{/list-filter}}

</div>